<div style="background-color: #F2FDFF;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary float-right" style="margin-right:20px" (click)="LogOut()">Log Out</button>
                <h5 class="text-center"><strong>Current User:</strong> {{currentUser.username}}</h5>
                <h5 class="text-center" style="margin-bottom:20px"><strong>Email:</strong> {{currentUser.email}}</h5>
                <button class="btn btn-success float-left" (click)="AdvancedUIChat()">Go to Advanced UI Chat</button>
            </div>
        </div>
    
        <div class="chats">
            <div class="chatbox">
                <div *ngFor="let chat of Messages">
                    <div class="message sent" *ngIf="currentUser._id === chat.userId">
                        {{chat.textMessage}}
                        <span class="metadata">
                            <span class="time">{{chat.messageDate | date: 'h:mm:ss a'}}</span>
                        </span>
                    </div>
                    <div class="message received" *ngIf="currentUser._id !== chat.userId">
                        <strong>{{chat.username}}</strong> <br>
                        {{chat.textMessage}}
                        <span class="metadata">
                            <span class="time">{{chat.messageDate | date: 'h:mm:ss a'}}</span>
                        </span>
                    </div>
                </div>
            </div>
    
            <div class="d-flex flex-row">
                <input [(ngModel)]="textMessage" type="text" class="form-control" placeholder="Enter message" style="margin-right: 10px"
                    (keyup.enter)="sendMessage()">
                <button [disabled]="!textMessage" (click)="sendMessage()" class="btn btn-primary"> Send</button>
            </div>
        </div>
    </div>
</div>