<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="isErrorMessage === 2">
        {{errorMessage}}
    </div>
    <h1 class="text-center">Set Password</h1>
    <form #frm="ngForm" name="frm" novalidate>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password"
                #password="ngModel" required>
            <p *ngIf="frm.submitted && password.hasError('required')">
                Password is required.
            </p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="Submit(frm)">Submit</button>
    </form>
</div>