<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary float-right" style="margin-right:20px" (click)="LogOut()">Log Out</button>
        <h5 class="text-center"><strong>Current User:</strong> {{currentUser.username}}</h5>
        <h5 class="text-center" style="margin-bottom:20px"><strong>Email:</strong> {{currentUser.email}}</h5>
    </div>
</div>

<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="search">
            <h4 style="color:aliceblue">Group Members</h4>
            <hr>
        </div>
        <ul class="list">
            <li class="clearfix" *ngFor="let row of Friends">
                <img src="assets/img/avatar.png" alt="avatar" />
                <div class="about">
                    <div class="name" style="color:aliceblue">{{row.username}}</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <h2>Chatting Area</h2>
        </div>

        <div #scrollMe class="chat-history" id="chatHistory">
            <!-- <ul>
                <div *ngFor="let row of Messages">

                    <li class="clearfix" style="list-style:none;" *ngIf="currentUser._id === row.userId">
                        <div class="message-data align-right">
                            <span class="message-data-time">{{row.messageDate | date: 'yyyy/MM/dd h:mm:ss a'}}</span>
                            &nbsp; &nbsp;
                            <span class="message-data-name text-info"><strong>{{row.username}} (Me)</strong></span>
                        </div>
                        <div class="message other-message float-right">
                            {{row.textMessage}}
                        </div>
                    </li>

                    <li style="list-style:none;" *ngIf="currentUser._id !== row.userId">
                        <div class="message-data">
                            <span class="message-data-name text-success"><strong>{{row.username}}</strong></span>
                            <span class="message-data-time">{{row.messageDate | date: 'yyyy/MM/dd h:mm:ss a'}}</span>
                        </div>
                        <div class="message my-message">
                            {{row.textMessage}}
                        </div>
                    </li>

                </div>
            </ul> -->

            <ul>
                <li class="clearfix" style="list-style:none;" *ngFor="let row of Messages">
                    <div *ngIf="currentUser._id === row.userId">
                        <div class="message-data align-right">
                            <span class="message-data-time">{{row.messageDate | date: 'yyyy/MM/dd h:mm:ss a'}}</span>
                            &nbsp; &nbsp;
                            <span class="message-data-name text-info"><strong>{{row.username}} (Me)</strong></span>
                        </div>
                        <div class="message other-message float-right">
                            {{row.textMessage}}
                        </div>
                    </div>

                    <div *ngIf="currentUser._id !== row.userId">
                        <div class="message-data">
                            <span class="message-data-name text-success"><strong>{{row.username}}</strong></span>
                            <span class="message-data-time">{{row.messageDate | date: 'yyyy/MM/dd h:mm:ss a'}}</span>
                        </div>
                        <div class="message my-message">
                            {{row.textMessage}}
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" [(ngModel)]="textMessage"
                (keyup.enter)="sendMessage()" rows="2"></textarea>
            <button (click)="sendMessage()">Send</button>
        </div>

    </div>

</div>